# Hardhat compilation and cache outputs
artifacts/
cache/

# Dependencies
node_modules/

# Environment variables / Secrets
.env

# Testing and coverage reports
coverage/
coverage.json

# Hardhat Ignition deployments
ignition/deployments/